.btn {
    display: inline-block;
    background-color: var(--accent-color);
    color: white;
    font-size: 17px;
    font-weight: 500;
    padding: 12px 24px;
    border-radius: 30px;
    cursor: pointer;
    transition: var(--transition);
    border: none;
    outline: none;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 113, 227, 0.2);
}

.btn:not(:last-child) {
    margin-right: 20px;
    /* Adjust this value to increase/decrease spacing */
}

.btn-outline {
    background-color: transparent;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.btn-outline:hover {
    background-color: var(--accent-color);
    color: white;
}